<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4vK5_PxSWOeNfqDdpnLmHG5s_fA_V3iE</string>
	<key>GCM_SENDER_ID</key>
	<string>267346768365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authdemo</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-13871</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-13871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267346768365:ios:9df8714adedd94989377e4</string>
</dict>
</plist>